*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.counter-container{
    background-color: purple;
    font-size: 20px;
    text-align: center;
}
#increase{
    color: pink;
    padding: 20px;
    width: 20%;
    margin: 20px;
    border: 8px solid black;
    border-radius: 10px;
}
#decrease{
    color: skyblue;
    padding: 20px;
    width: 20%;
    margin: 20px;
    border: 8px solid black;
    border-radius: 10px;
}
#reset{
    color: greenyellow;
    padding: 20px;
    width: 20%;
    margin: 20px;
    border: 8px solid black;
    border-radius: 10px;
}
    